In [1]:
import pandas as pd

In [2]:
df_dates = pd.read_csv('./dates_daily_CDR.csv', header=None)
df_target = pd.read_csv('./results_daily_CDR.csv', header=None)

In [3]:
df_dates.head()

            0
0  1509667200
1  1509580800
2  1509494400
3  1509408000
4  1509321600

In [4]:
df_target.head()

      0     1     2     3
0  5.70  5.94  5.63  5.75
1  5.61  5.81  5.55  5.78
2  5.46  5.63  5.44  5.62
3  5.45  5.48  5.41  5.44
4  5.50  5.50  5.42  5.45

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
normalizer = StandardScaler()

In [7]:
df = df_target
df['dates'] = df_dates

In [8]:
df.rename(columns={0: 'open', 1:'high', 2:'low',3:'close'}, inplace=True)

In [9]:
df.head()

   open  high   low  close       dates
0  5.70  5.94  5.63   5.75  1509667200
1  5.61  5.81  5.55   5.78  1509580800
2  5.46  5.63  5.44   5.62  1509494400
3  5.45  5.48  5.41   5.44  1509408000
4  5.50  5.50  5.42   5.45  1509321600

In [10]:
df.shape

(4490, 5)

In [11]:
df_train, df_test = df[490:], df[:490]

In [12]:
df_test.tail()

     open    high    low  close       dates
485  7.33  7.3501  7.145   7.15  1449014400
486  7.33  7.3950  7.300   7.36  1448928000
487  7.37  7.4000  7.260   7.32  1448841600
488  7.25  7.4000  7.240   7.36  1448582400
489  7.28  7.2800  7.210   7.26  1448409600

In [13]:
df_train.head()

     open   high   low  close       dates
490  7.22  7.260  7.13   7.26  1448323200
491  7.17  7.240  7.14   7.23  1448236800
492  7.06  7.180  7.05   7.16  1447977600
493  6.91  7.015  6.91   7.01  1447891200
494  6.79  6.920  6.76   6.91  1447804800

In [14]:
df_train.shape, df_test.shape

((4000, 5), (490, 5))

In [15]:
X_tr, y_tr = df_train['dates'], df_train['open']

In [16]:
X_te, y_te = df_test['dates'], df_test['open']

In [17]:
y_tr.values[:-1]

array([ 7.22,  7.17,  7.06, ...,  5.62,  5.62,  5.75])

In [18]:
y_tr.values[1:]

array([ 7.17,  7.06,  6.91, ...,  5.62,  5.75,  5.75])

In [19]:
diffs_tr = y_tr.values[:-1] - y_tr.values[1:]

In [20]:
grow_tr = (diffs_tr > 0).astype('int64')

In [21]:
grow_tr

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [22]:
diffs_te = y_te.values[:-1] - y_te.values[1:]

In [23]:
grow_te = (diffs_te > 0).astype('int64')

In [74]:
X_tr_grow = np.concatenate([X_tr[:-1].values.reshape(-1,1), y_tr[1:].values.reshape(-1, 1)], axis=1)
X_te_grow = np.concatenate([X_te[:-1].values.reshape(-1,1), y_te[1:].values.reshape(-1, 1)], axis=1)

In [79]:
X_tr_grow

array([[  1.44832320e+09,   7.17000000e+00],
       [  1.44823680e+09,   7.06000000e+00],
       [  1.44797760e+09,   6.91000000e+00],
       ...,
       [  9.47116800e+08,   5.62000000e+00],
       [  9.47030400e+08,   5.75000000e+00],
       [  9.46944000e+08,   5.75000000e+00]])

In [80]:
import numpy as np

In [81]:
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization
from keras.activations import relu, elu
from keras.layers.advanced_activations import LeakyReLU, PReLU
from keras.losses import mean_absolute_error

In [82]:
X_tr_grow.shape, grow_tr.shape

((3999, 2), (3999,))

In [104]:
model = Sequential()
model.add(BatchNormalization(input_shape=(2,)))
model.add(Dense(1024, use_bias=False, activation='relu'))
model.add(Dense(1024, use_bias=False, activation='relu'))
model.add(Dense(1024, use_bias=False, activation='relu'))
model.add(Dense(256, use_bias=False, activation='relu'))
model.add(Dense(32, use_bias=False, activation='relu'))
model.add(Dense(8, use_bias=False, activation='relu'))
model.add(Dense(1, use_bias=False, activation='sigmoid'))

In [105]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_8 (Batch (None, 2)                 8
_________________________________________________________________
dense_22 (Dense)             (None, 1024)              2048
_________________________________________________________________
dense_23 (Dense)             (None, 1024)              1048576
_________________________________________________________________
dense_24 (Dense)             (None, 1024)              1048576
_________________________________________________________________
dense_25 (Dense)             (None, 256)               262144
_________________________________________________________________
dense_26 (Dense)             (None, 32)                8192
_________________________________________________________________
dense_27 (Dense)             (None, 8)                 256
_________________________________________________________________
dense_28 (Dense)             (None, 1)                 8
=================================================================
Total params: 2,369,808
Trainable params: 2,369,804
Non-trainable params: 4
_________________________________________________________________

In [106]:
import datetime

In [107]:
model.compile('adam', 'binary_crossentropy', metrics=['acc'])

In [ ]:
model.fit(X_tr_grow, grow_tr, epochs=10000, batch_size=32)

Epoch 1/10000
3999/3999 [==============================] - 2s 431us/step - loss: 0.6465 - acc: 0.5854
Epoch 2/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6475 - acc: 0.5951
Epoch 3/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6443 - acc: 0.5919
Epoch 4/10000
3999/3999 [==============================] - 1s 208us/step - loss: 0.6431 - acc: 0.5861
Epoch 5/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6453 - acc: 0.5891
Epoch 6/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6438 - acc: 0.5851
Epoch 7/10000
3999/3999 [==============================] - 1s 209us/step - loss: 0.6404 - acc: 0.5891
Epoch 8/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6407 - acc: 0.5934
Epoch 9/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6425 - acc: 0.5934
Epoch 10/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6418 - acc: 0.5924
Epoch 11/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6404 - acc: 0.5904
Epoch 12/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6405 - acc: 0.5846
Epoch 13/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6376 - acc: 0.5934
Epoch 14/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6393 - acc: 0.5934
Epoch 15/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6425 - acc: 0.5929
Epoch 16/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6410 - acc: 0.5934
Epoch 17/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6399 - acc: 0.5879
Epoch 18/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6401 - acc: 0.5934
Epoch 19/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6404 - acc: 0.5934
Epoch 20/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6409 - acc: 0.5934
Epoch 21/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6405 - acc: 0.5934
Epoch 22/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6420 - acc: 0.5934
Epoch 23/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6397 - acc: 0.5934
Epoch 24/10000
3999/3999 [==============================] - 1s 258us/step - loss: 0.6390 - acc: 0.5934
Epoch 25/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6396 - acc: 0.5934
Epoch 26/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6410 - acc: 0.5934
Epoch 27/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6392 - acc: 0.5904
Epoch 28/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6388 - acc: 0.5924
Epoch 29/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6382 - acc: 0.5881
Epoch 30/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6400 - acc: 0.5934
Epoch 31/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6395 - acc: 0.5934
Epoch 32/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6386 - acc: 0.5934
Epoch 33/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6395 - acc: 0.5934
Epoch 34/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6414 - acc: 0.5934
Epoch 35/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6388 - acc: 0.5934
Epoch 36/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6411 - acc: 0.5934
Epoch 37/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6403 - acc: 0.5929
Epoch 38/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6399 - acc: 0.5901
Epoch 39/10000
3999/3999 [==============================] - 1s 212us/step - loss: 0.6399 - acc: 0.5934
Epoch 40/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6400 - acc: 0.5934
Epoch 41/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6375 - acc: 0.5934
Epoch 42/10000
3999/3999 [==============================] - 1s 241us/step - loss: 0.6404 - acc: 0.5934
Epoch 43/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6400 - acc: 0.5934
Epoch 44/10000
3999/3999 [==============================] - 1s 229us/step - loss: 0.6392 - acc: 0.5924
Epoch 45/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6383 - acc: 0.5934
Epoch 46/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6393 - acc: 0.5834
Epoch 47/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6405 - acc: 0.5934
Epoch 48/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6400 - acc: 0.5909
Epoch 49/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6394 - acc: 0.5934
Epoch 50/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6389 - acc: 0.5934
Epoch 51/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6402 - acc: 0.5934
Epoch 52/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6398 - acc: 0.5934
Epoch 53/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6386 - acc: 0.5934
Epoch 54/10000
3999/3999 [==============================] - 1s 229us/step - loss: 0.6400 - acc: 0.5934
Epoch 55/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6411 - acc: 0.5891
Epoch 56/10000
3999/3999 [==============================] - 1s 211us/step - loss: 0.6403 - acc: 0.5896
Epoch 57/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6413 - acc: 0.5931
Epoch 58/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6389 - acc: 0.5934
Epoch 59/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6393 - acc: 0.5934
Epoch 60/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6402 - acc: 0.5934
Epoch 61/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6407 - acc: 0.5934
Epoch 62/10000
3999/3999 [==============================] - 1s 234us/step - loss: 0.6394 - acc: 0.5934
Epoch 63/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6385 - acc: 0.5924
Epoch 64/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6392 - acc: 0.5931
Epoch 65/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6383 - acc: 0.5934
Epoch 66/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6389 - acc: 0.5934
Epoch 67/10000
3999/3999 [==============================] - 1s 211us/step - loss: 0.6383 - acc: 0.5934
Epoch 68/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6408 - acc: 0.5934
Epoch 69/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6398 - acc: 0.5934
Epoch 70/10000
3999/3999 [==============================] - 1s 227us/step - loss: 0.6380 - acc: 0.5936
Epoch 71/10000
3999/3999 [==============================] - 1s 236us/step - loss: 0.6396 - acc: 0.5911
Epoch 72/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6389 - acc: 0.5934
Epoch 73/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6393 - acc: 0.5934
Epoch 74/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6389 - acc: 0.5934
Epoch 75/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6386 - acc: 0.5931
Epoch 76/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6383 - acc: 0.5934
Epoch 77/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6387 - acc: 0.5934
Epoch 78/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6389 - acc: 0.5934
Epoch 79/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6384 - acc: 0.5934
Epoch 80/10000

3999/3999 [==============================] - 1s 214us/step - loss: 0.6385 - acc: 0.5921
Epoch 81/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6387 - acc: 0.5931
Epoch 82/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6388 - acc: 0.5934
Epoch 83/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6408 - acc: 0.5931
Epoch 84/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6380 - acc: 0.5934
Epoch 85/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6380 - acc: 0.5951
Epoch 86/10000
3999/3999 [==============================] - 1s 209us/step - loss: 0.6387 - acc: 0.5916
Epoch 87/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6392 - acc: 0.5934
Epoch 88/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6392 - acc: 0.5934
Epoch 89/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6376 - acc: 0.5929
Epoch 90/10000
3999/3999 [==============================] - 1s 220us/step - loss: 0.6384 - acc: 0.5934
Epoch 91/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6394 - acc: 0.5934
Epoch 92/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6377 - acc: 0.5934
Epoch 93/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6389 - acc: 0.5934
Epoch 94/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6397 - acc: 0.5934
Epoch 95/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6392 - acc: 0.5934
Epoch 96/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6382 - acc: 0.5934
Epoch 97/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6399 - acc: 0.5939
Epoch 98/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6383 - acc: 0.5934
Epoch 99/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6385 - acc: 0.5934
Epoch 100/10000
3999/3999 [==============================] - 1s 212us/step - loss: 0.6389 - acc: 0.5936
Epoch 101/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6384 - acc: 0.5934
Epoch 102/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6374 - acc: 0.5934
Epoch 103/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6394 - acc: 0.5936
Epoch 104/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6384 - acc: 0.5929
Epoch 105/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6373 - acc: 0.5934
Epoch 106/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6395 - acc: 0.5934
Epoch 107/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6383 - acc: 0.5934
Epoch 108/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6386 - acc: 0.5934
Epoch 109/10000
3999/3999 [==============================] - 1s 213us/step - loss: 0.6383 - acc: 0.5934
Epoch 110/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6391 - acc: 0.5934
Epoch 111/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6389 - acc: 0.5934
Epoch 112/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6400 - acc: 0.5934
Epoch 113/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6374 - acc: 0.5934
Epoch 114/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6392 - acc: 0.5934
Epoch 115/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6385 - acc: 0.5934
Epoch 116/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6394 - acc: 0.5934
Epoch 117/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6398 - acc: 0.5926
Epoch 118/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6372 - acc: 0.5934
Epoch 119/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6388 - acc: 0.5934
Epoch 120/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6386 - acc: 0.5951
Epoch 121/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6394 - acc: 0.5934
Epoch 122/10000
3999/3999 [==============================] - 1s 232us/step - loss: 0.6389 - acc: 0.5939
Epoch 123/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6393 - acc: 0.5934
Epoch 124/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6378 - acc: 0.5931
Epoch 125/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6393 - acc: 0.5951
Epoch 126/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6388 - acc: 0.5834
Epoch 127/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6405 - acc: 0.5934
Epoch 128/10000
3999/3999 [==============================] - 1s 212us/step - loss: 0.6381 - acc: 0.5934
Epoch 129/10000
3999/3999 [==============================] - 1s 227us/step - loss: 0.6387 - acc: 0.5934
Epoch 130/10000
3999/3999 [==============================] - 1s 210us/step - loss: 0.6379 - acc: 0.5934
Epoch 131/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6370 - acc: 0.5934
Epoch 132/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6391 - acc: 0.5934
Epoch 133/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6381 - acc: 0.5934
Epoch 134/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6380 - acc: 0.5934
Epoch 135/10000
3999/3999 [==============================] - 1s 211us/step - loss: 0.6398 - acc: 0.5934
Epoch 136/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6392 - acc: 0.5944
Epoch 137/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6377 - acc: 0.5914
Epoch 138/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6386 - acc: 0.5931
Epoch 139/10000
3999/3999 [==============================] - 1s 225us/step - loss: 0.6400 - acc: 0.5909
Epoch 140/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6392 - acc: 0.5934
Epoch 141/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6381 - acc: 0.5924
Epoch 142/10000
3999/3999 [==============================] - 1s 231us/step - loss: 0.6377 - acc: 0.5936
Epoch 143/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6376 - acc: 0.5934
Epoch 144/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6404 - acc: 0.5934
Epoch 145/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6376 - acc: 0.5929
Epoch 146/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6392 - acc: 0.5931
Epoch 147/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6395 - acc: 0.5936
Epoch 148/10000
3999/3999 [==============================] - 1s 221us/step - loss: 0.6377 - acc: 0.5934
Epoch 149/10000
3999/3999 [==============================] - 1s 230us/step - loss: 0.6387 - acc: 0.5934
Epoch 150/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6400 - acc: 0.5929
Epoch 151/10000
3999/3999 [==============================] - 1s 239us/step - loss: 0.6382 - acc: 0.5936
Epoch 152/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6388 - acc: 0.5934
Epoch 153/10000
3999/3999 [==============================] - 1s 223us/step - loss: 0.6381 - acc: 0.5936
Epoch 154/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6382 - acc: 0.5931
Epoch 155/10000
3999/3999 [==============================] - 1s 234us/step - loss: 0.6388 - acc: 0.5934
Epoch 156/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6395 - acc: 0.5934
Epoch 157/10000
3999/3999 [==============================] - 1s 224us/step - loss: 0.6397 - acc: 0.5941
Epoch 158/10000
3999/3999 [==============================] - 1s 235us/step - loss: 0.6388 - acc: 0.5954
Epoch 159/10000

3999/3999 [==============================] - 1s 219us/step - loss: 0.6395 - acc: 0.5941
Epoch 160/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6387 - acc: 0.5956
Epoch 161/10000
3999/3999 [==============================] - 1s 238us/step - loss: 0.6384 - acc: 0.5949
Epoch 162/10000
3999/3999 [==============================] - 1s 239us/step - loss: 0.6374 - acc: 0.5946
Epoch 163/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6388 - acc: 0.5934
Epoch 164/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6394 - acc: 0.5911
Epoch 165/10000
3999/3999 [==============================] - 1s 231us/step - loss: 0.6385 - acc: 0.5956
Epoch 166/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6369 - acc: 0.5956
Epoch 167/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6381 - acc: 0.5934
Epoch 168/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6384 - acc: 0.5954
Epoch 169/10000
3999/3999 [==============================] - 1s 228us/step - loss: 0.6383 - acc: 0.5926
Epoch 170/10000
3999/3999 [==============================] - 1s 236us/step - loss: 0.6381 - acc: 0.5934
Epoch 171/10000
3999/3999 [==============================] - 1s 231us/step - loss: 0.6390 - acc: 0.5949
Epoch 172/10000
3999/3999 [==============================] - 1s 232us/step - loss: 0.6392 - acc: 0.5936
Epoch 173/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6389 - acc: 0.5941
Epoch 174/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6376 - acc: 0.5926
Epoch 175/10000
3999/3999 [==============================] - 1s 212us/step - loss: 0.6390 - acc: 0.5924
Epoch 176/10000
3999/3999 [==============================] - 1s 233us/step - loss: 0.6385 - acc: 0.5939
Epoch 177/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6390 - acc: 0.5924
Epoch 178/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6404 - acc: 0.5939
Epoch 179/10000
3999/3999 [==============================] - 1s 229us/step - loss: 0.6394 - acc: 0.5939
Epoch 180/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6392 - acc: 0.5926
Epoch 181/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6385 - acc: 0.5934
Epoch 182/10000
3999/3999 [==============================] - 1s 226us/step - loss: 0.6371 - acc: 0.5934
Epoch 183/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6397 - acc: 0.5934
Epoch 184/10000
3999/3999 [==============================] - 1s 211us/step - loss: 0.6378 - acc: 0.5934
Epoch 185/10000
3999/3999 [==============================] - 1s 219us/step - loss: 0.6380 - acc: 0.5934
Epoch 186/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6370 - acc: 0.5934
Epoch 187/10000
3999/3999 [==============================] - 1s 215us/step - loss: 0.6377 - acc: 0.5934
Epoch 188/10000
3999/3999 [==============================] - 1s 216us/step - loss: 0.6386 - acc: 0.5934
Epoch 189/10000
3999/3999 [==============================] - 1s 222us/step - loss: 0.6381 - acc: 0.5934
Epoch 190/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6388 - acc: 0.5934
Epoch 191/10000
3999/3999 [==============================] - 1s 211us/step - loss: 0.6378 - acc: 0.5934
Epoch 192/10000
3999/3999 [==============================] - 1s 217us/step - loss: 0.6388 - acc: 0.5934
Epoch 193/10000
3999/3999 [==============================] - 1s 214us/step - loss: 0.6387 - acc: 0.5934
Epoch 194/10000
3999/3999 [==============================] - 1s 218us/step - loss: 0.6388 - acc: 0.5934
Epoch 195/10000
2336/3999 [================>.............] - ETA: 0s - loss: 0.6418 - acc: 0.5946

In [ ]:
# row = '2017-11-07'
# timestamp_as_list = row.split('-')
# year = int(timestamp_as_list[0])
# month = int(timestamp_as_list[1])
# day = int(timestamp_as_list[2])
# date = datetime.datetime(year=year, month=month, day=day, tzinfo=datetime.timezone.utc)  # Convert to UTC time
# unix_time = int(date.timestamp())

In [ ]:
# model.predict(np.array([[unix_time, 5.8600]]))

In [88]:
prediction = model.predict_classes(X_te_grow)

489/489 [==============================] - 0s 327us/step

In [89]:
prediction_tr = model.predict_classes(X_tr_grow)

3999/3999 [==============================] - 0s 47us/step

In [90]:
prediction_tr

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [91]:
from sklearn.metrics import classification_report, confusion_matrix

In [92]:
print(classification_report(grow_tr, prediction_tr))
print(confusion_matrix(grow_tr, prediction_tr))

             precision    recall  f1-score   support

          0       0.60      0.98      0.74      2373
          1       0.54      0.03      0.06      1626

avg / total       0.57      0.60      0.47      3999

[[2327   46]
 [1572   54]]

In [93]:
print(classification_report(grow_te, prediction))
print(confusion_matrix(grow_te, prediction))

             precision    recall  f1-score   support

          0       0.53      0.67      0.59       258
          1       0.49      0.35      0.41       231

avg / total       0.51      0.52      0.51       489

[[172  86]
 [150  81]]